<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Klimeat</title>
</head>
<body>
    <div id="container">
        <div>Climate</div>
        <div class="square-temp-status">
            <div>City</div>
            <div>Temperature</div>
            <div>Feels like</div>
            <div>Date</div>
            <div>Status Weather</div>
            <div>Status description weather</div>
        </div>
        <div class="detailed-status">
            <div>Humidity</div>
            <div>Wind</div>
        </div>
    </div>
    

    <!-- <footer>Made by Esielito</footer> -->
</body>
</html>